<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}">
<head>
    <title>Offices</title>
</head>
<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    User Created
                </h1>
                <div class="govuk-panel__body">
                    <span th:text="${userData.fullName}"></span>
                    <span th:text="${userData.email}"></span>
                </div>
            </div>
            <h2 class="govuk-heading-m">
                What happens next
            </h2>
            <p class="govuk-body">We have sent <span th:text="${userData.fullName}"></span> an email and temporary password to set up their account.</p>
            <p class="govuk-body"> <a href="#" class="govuk-link">Return to dashboard</a>.</p>
        </div>
    </div>
</main>
</body>
</html>
