<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>User Details</title>
</head>
<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">< Back</a>
        </li>
    </ol>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <h1 class="govuk-heading-m">User Details</h1>
    <p class="govuk-body">Enter all the details about the user you are creating</p>
    <form th:action="@{/user/create/details}" th:method="post" th:object="${userData}">
        <div class="govuk-form-group">
            <label class="govuk-label" for="email">
                Email Address:
            </label>
            <input class="govuk-input govuk-input--width-10" name="email" type="email" th:field="*{email}"
                   id="email"/>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="firstName">
                First Name:
            </label>
            <input class="govuk-input govuk-input--width-10" name="firstName" type="text" th:field="*{firstName}"
                   id="firstName"/>
        </div>
        <div class="govuk-form-group">
            <label class="govuk-label" for="lastName">
                Last Name:
            </label>
            <input class="govuk-input govuk-input--width-10" name="lastName" type="text" th:field="*{lastName}"
                   id="lastName"/>
        </div>
        <button type="submit" class="govuk-button">Continue</button>
    </form>
</main>
</body>
</html>
