.logout {
    float: right;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: 20px;
}
.logout button {
    background: none;
    box-shadow: none;
    color: white;
    border: none;
    cursor: pointer;
}