<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <title>Homepage TEST</title>
</head>
<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Section</a>
    </li>
  </ol>
</nav>
<main class="govuk-main-wrapper" id="main-content">
  <div th:if="${#authentication.isAuthenticated()}">
    <p class="govuk-body">This is a test, <span th:text="${name}"></span></p>
    <p class="govuk-body">Granted Authorities - <span th:text="${#authentication.authorities}"></span></p>
    <table class="govuk-table">
      <tr>
        <td>
          Box one
          Contract Work and Administration
        </td>
        <td>
          Box two
          Eforms
        </td>
      </tr>
      <tr>
        <td>
          Box three
          Eforms
        </td>
        <td>
          Box four
          Courts and Fees
        </td>
      </tr>
    </table>
    <table class="govuk-table">
      <thead>
      <tr>
        <th class="govuk-table__header">Attribute</th>
        <th class="govuk-table__header">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="govuk-table__cell"><strong>Name</strong></td>
        <td class="govuk-table__cell" th:text="${name}"></td>
      </tr>

      <tr>
        <td class="govuk-table__cell"><strong>App Role Assignments</strong></td>
        <td class="govuk-table__cell">
          <ul>
            <li th:each="role : ${appRoleAssignments}" th:text="${role.resourceDisplayName}"></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="govuk-table__cell"><strong>User App Roles</strong></td>
        <td class="govuk-table__cell">
          <ul>
            <li th:each="role : ${appRole}" th:text="${role.displayName}"></li>
          </ul>
        </td>
      </tr>

      <tr>
        <td class="govuk-table__cell"><strong>User</strong></td>
        <td class="govuk-table__cell">
          <strong>Display Name:</strong> <span th:text="${user.displayName}"></span>
          <strong>Email:</strong> <span th:text="${user.userPrincipalName}"></span>
          <strong>Job Title:</strong> <span th:text="${user.jobTitle}"></span>
        </td>
      </tr>

      <tr>
        <td class="govuk-table__cell"><strong>Last Login</strong></td>
        <td class="govuk-table__cell">
          <span th:text="${lastLogin}"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>
</body>
</html>
