<!DOCTYPE html>
<html lang="en"
      th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Homepage TEST</title>
</head>

<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Portal</a>
        </li>
    </ol>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div th:if="${#authentication.isAuthenticated()}">
    </div>
    <p class="govuk-body">You are logged in as <span th:text="${name}"></span></p>
    <h1 class="govuk-heading-xl">LAA Portal</h1>
    <p class="govuk-inset-text">Welcome to the Legal Aid Agency Portal. Here you can access a range of tools and
        resources
        to manage your legal aid services.</p>
    <h2 class="govuk-heading-l">
        Services
    </h2>
    <div class="grid-container">
        <div class="grid-item">
            <h3 class="govuk-heading-m">
                <a class="govuk-link" th:href="@{/home}">
                    Contracted Work and Administration
                </a>
            </h3>
            <p class="govuk-body">
                Manage contracted casework and related administrative tasks.
            </p>
            <p class="govuk-body">
                (Placeholder text)
            </p>
            <div>
                <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text green">
                The service is good
              </span>
                </p>
            </div>

        </div>
        <div class="grid-item">
            <h3 class="govuk-heading-m">
                <a class="govuk-link" th:href="@{/home}">
                    CCMS
                </a>
            </h3>
            <p class="govuk-body">
                Maintain up-to-date client details and financial records.
            </p>
            <p class="govuk-body">
                (Placeholder text)
            </p>
            <div>
                <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text green">
                The service is good
              </span>
                </p>
            </div>
        </div>
        <div class="grid-item">
            <h3 class="govuk-heading-m">
                <a class="govuk-link" th:href="@{/home}">
                    Submit a CWA Claim
                </a>
            </h3>
            <p class="govuk-body">
                Submit Claims and Warranties for Administration securely and efficiently.
            </p>
            <p class="govuk-body">
                (Placeholder text)
            </p>
            <div>
                <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text green">
                The service is good
              </span>
                </p>
            </div>
        </div>
        <div class="grid-item">
            <h3 class="govuk-heading-m">
                <a class="govuk-link" th:href="@{/home}">
                    Courts and Fees
                </a>
            </h3>
            <p class="govuk-body">
                Access detailed information on court fees, procedural guidelines, and filing requirements.
            </p>
            <p class="govuk-body">
                (Placeholder text)
            </p>
            <div>
                <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text green">
                The service is good
              </span>
                </p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
